body {
  color: white;
  background-color: #2b0030;
  font-family: 'Open Sans', sans-serif;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  font-size: 14px;
}

.description {
  border: 1px solid white;
  padding: 20px;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.topnav {
  margin: 0px;
  padding: 0px;
  display: flex;
  background: white;
}

.link {
  padding-top: 20px;
}

.topnav a {
  text-align: center;
  text-decoration: none;
  height: 50px;
  padding: 5px 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

form {
  padding: 10px;
}

.field {
  margin: 10px 0px;
}

.field label {
  display: block;
  padding-bottom: 2px;
}

.field input {
  width: 200px;
}

.field select {
  width: 200px;
}

label {
  color: white;
}

.tag-option {
  display: inline-block;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  min-width: 50px;
  font-size: 0.9em;
  text-align: center;
}

.tag-option.selected {
  background-color: white;
  color: #2b0030;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #fe6f3e;
  width: 22px;
  height: 22px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-left: 20px;
}

.loader.hidden {
  display: none;
}

select {
  background: white;
  width: 150px;
  height: 20px;
  border-radius: 5px;
}

button {
  width: 150px;
  height: 20px;
  margin-top: 18px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
